@import url(./vars.css);
@import url(./header.css);
@import url(./buttons.css);
@import url(./modal-vacancy.css);
@import url(./plans.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--colors-color);
    font-family: var(--fonts-family);
}

*::selection {
    background-color: var(--colors-selection);
}

@font-face {
    font-family: 'Aptos';
    src: url(../../public/aptos.ttf)
}

main {
    display: flex;
    min-height: 93.4vh;
}

body {
    display: flex;
}