@import url(global/index.css);

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../public/img/background-mobile.jpg');
}

.texts {
    width: 80%;
    padding: 4em;
    display: flex;
    margin-top: 25vh;
    align-self: center;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.texts-title {
    align-self: center;
    margin-bottom: 1em;
    color: var(--colors-primary);
    font-size: var(--fonts-size-title);
}

.texts-paragraph {
    color: #000000;
    font-size: var(--fonts-size-small);
}

.list-item {
    color: #000000;
    margin-left: 1em;
    font-size: var(--fonts-size-small);
}

@media screen and (max-width: 900px) {
    .header-options {
        display: none;
    }
    
    .texts {
        width: 90%;
        padding: 1em;
        margin-top: 15vh;
        border-radius: 15px;
    }

    .texts-title {
        font-size: var(--fonts-size-description);
    }

    .texts-paragraph {
        font-size: var(--fonts-size-description);
    }
    
    .list-item {
        font-size: var(--fonts-size-description);
    }
}