@import url(global/index.css);

.initial {
    height: 54em;
    display: flex;
    position: relative;
    flex-direction: row;
}

.initial-image {
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
}

.initial-image.mobile {
    display: none;
    visibility: hidden;
}

.initial-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0 1em;
    max-width: 100em;
    margin-top: 12em;
    flex-direction: column;
    justify-content: space-between;
}

.initial-content {
    width: 45vw;
    display: flex;
}

.initial-title {
    line-height: 1em;
    color: var(--colors-primary);
    font-size: var(--fonts-size-main-title);
}

.initial-description {
    margin-top: 1em;
    line-height: 1.5em;
    font-size: var(--fonts-size-subtitle);
    color: var(--colors-color-secondary);
}

.initial-button {
    margin-top: 3.5em;
}

.initial-button-text {
    margin: auto;
}

.initial-features {
    gap: 2em;
    width: 80%;
    display: flex;
    margin-top: 2em;
    padding-top: 1em;
    flex-direction: row;
    border-top: 1px solid var(--colors-primary);
}

.initial-feature {
    gap: 1em;
    display: flex;
    flex-direction: row;
}

.initial-feature-icon {
    width: 2em;
    align-self: flex-start;
}

.initial-feature-text {
    font-weight: bold;
    font-size: var(--fonts-size-small);
    color: var(--colors-color-secondary);
}

.about {
    height: 45em;
    display: flex;
    position: relative;
}

.about-image-desktop {
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
}

.about-image-mobile {
    display: none;
    visibility: hidden;
}

.about-content {
    display: flex;
    max-width: 40em;
    margin-left: 10%;
    margin-top: 5.5em;
}

.about-subtitle {
    font-weight: bold;
    font-size: var(--fonts-size-subtitle);
}

.about-title {
    margin-top: 0.2em;
    font-weight: bold;
    font-size: var(--fonts-size-title);
}

.about-text {
    font-size: var(--fonts-size-small);
}

.how {
    display: flex;
    background-color: var(--colors-background-secondary);
}

.how-title {
    margin-top: 1em;
    align-self: center;
    text-align: center;
    color: var(--colors-primary);
    font-size: var(--fonts-size-main-title);
}

.how-features {
    gap: 3em;
    width: 80%;
    display: flex;
    margin-top: 5em;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 7em;
    flex-direction: row;
    justify-content: center;
}

.how-feature {
    gap: 0.5em;
    width: 20em;
    display: flex;
    align-items: center;
}

.how-feature-icon-container {
    width: 4.5em;
    padding: 1em;
    height: 4.5em;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--colors-primary);
}

.how-feature-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.how-feature-title {
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
    color: var(--colors-primary);
    font-size: var(--fonts-size-subtitle);
}

.how-feature-description {
    text-align: center;
    font-size: var(--fonts-size-small);
    color: var(--colors-color-secondary);
}

.plans {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../public/img/background-desktop.jpg');
}

.plans-subtitle {
    margin-top: 4em;
    font-weight: bold;
    text-align: center;
    font-size: var(--fonts-size-small);
}

.plans-title {
    text-align: center;
    font-size: var(--fonts-size-title);
}

.plans-container-table {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-bottom: 2em;
    align-items: center;
}

.plans-table {
    width: 80%;
    min-width: 60em;
    margin-top: 2em;
    overflow: hidden;
    border-radius: 20px;
    border-collapse: collapse;
}

.plans-table th {
    padding: 0.5em;
    font-size: var(--fonts-size-subtitle);
    background-color: var(--colors-primary);
}

.plans-table th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.plans-table th:nth-child(3) {
    background-color: #FF6100;
}

.plans-table th:nth-child(4) {
    background-color: #7C7C7C;
}

.plans-table th:nth-child(5) {
    background-color: #000000;
}

.plans-table td {
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
    border: 2px solid var(--colors-background);
    background-color: var(--colors-background-secondary);
}

.plans-table td:first-child {
    text-align: start;
}

tr:nth-child(2)>td:not(:first-child) {
    vertical-align: top;
}

.plans-type {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    width: fit-content;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

td:nth-child(3)>.plans-type {
    color: #FF6100;
}

td:nth-child(4)>.plans-type {
    color: #7C7C7C;
}

td:nth-child(5)>.plans-type {
    color: #000000;
}

.plans-price {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    font-size: var(--fonts-size-title);
}

td:nth-child(2)>.plans-price {
    color: var(--colors-primary);   
}

td:nth-child(3)>.plans-price {
    color: #FF6100;
}

td:nth-child(4)>.plans-price {
    color: #7C7C7C;
}

td:nth-child(5)>.plans-price {
    color: #000000;
}

.plans-rules {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 1em;
    font-size: var(--fonts-size-description);
}

td:nth-child(3)>.plans-rules {
    color: #FF6100;   
}

td:nth-child(4)>.plans-rules {
    color: #7C7C7C;   
}

td:nth-child(5)>.plans-rules {
    color: #000000;   
}

.plans-about {
    color: var(--colors-color-secondary);
}

.plans-not {
    color: red !important;
}

.plans-medium {
    color: blue !important;
}

.plans-good {
    color: green !important;
}

.plans-button {
    width: 10em;
    border: none;
    margin: 2em 0;
    padding: 0.8em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    background-color: var(--colors-primary);
    font-size: calc(var(--fonts-size-description) + 0.2em);
}

.plans-button:hover {
    transform: scale(1.05);
}

td:nth-child(3)>.plans-button {
    background-color: #FF6100;
}

td:nth-child(4)>.plans-button {
    background-color: #7C7C7C;
}

td:nth-child(5)>.plans-button {
    background-color: #000000;
}

.plans-obs {
    margin-bottom: 1em;
    color: var(--colors-color-secondary);
}

footer {
    background-image: linear-gradient(var(--colors-background-secondary), var(--colors-gradient));
}

@media screen and (max-width: 900px) {
    .header-options {
        display: none;
    }
    
    .initial {
        height: 38em;
    }
    
    .initial-image.desktop {
        display: none;
        visibility: hidden;
    }

    .initial-image.mobile {
        display: flex;
        visibility: visible;
    }

    .initial-container {
        width: 90%;
        padding: 0;
        margin-top: 6em;
    }

    .initial-content {
        width: 50%;
    }

    .initial-description {
        line-height: 1.2em;
        font-size: var(--fonts-size-description);
    }

    .initial-button {
        margin-top: 2em;
    }

    .initial-features {
        gap: 0.5em;
        width: 50%;
        flex-direction: column;
    }

    .initial-feature {
        gap: 0.2em;
        align-items: center;
    }
    
    .initial-feature-icon {
        width: 1.5em;
    }
    
    .initial-feature-text {
        font-size: var(--fonts-size-description);
    }

    .about {
        height: 50em;
    }

    .about-content {
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
        align-items: center;
    }

    .about-subtitle {
        text-align: center;
        color: var(--colors-primary);
        font-size: var(--fonts-size-description);
    }

    .about-title {
        text-align: center;
        color: var(--colors-color-secondary);
        font-size: var(--fonts-size-main-title);
    }

    .about-text {
        text-align: center;
        color: var(--colors-color-secondary);
        font-size: var(--fonts-size-description);
    }

    .about-image-desktop {
        display: none;
        visibility: hidden;
    }

    .about-image-mobile {
        order: 1;
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 1.5em;
        align-self: center;
        visibility: visible;
    }

    .how-title {
        margin-top: 2em;
    }

    .how-features {
        width: 95%;
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .how-feature {
        width: 10em;
    }

    .how-feature-icon {
        width: 2.5em;
        padding: 0.5em;
    }

    .how-feature-title {
        font-size: var(--fonts-size-description);
    }

    .how-feature-description {
        font-size: var(--fonts-size-description);
    }
}