:root {
    /* Colors */
    --colors-color: #FFFFFF;
    --colors-primary: #0064FF;
    --colors-gradient: #C1D8FA;
    --colors-background: #EFF0F5;
    --colors-selection: #2C66DB46;
    --colors-color-secondary: #000000;
    --colors-background-tertiary: #BBBBBB;
    --colors-background-secondary: #FFFFFF;

    /* Fonts */
    --fonts-family: 'Aptos';
    --fonts-size-title: 2.4em;
    --fonts-size-small: 1.2em;
    --fonts-size-subtitle: 1.5em;
    --fonts-size-description: 0.9em;
    --fonts-size-main-title: 3.25em;
}

* {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--colors-color);
    font-family: var(--fonts-family);
}

*::selection {
    background-color: var(--colors-selection);
}

@font-face {
    font-family: 'Aptos';
    src: url(../public/aptos.ttf)
}

/* Header */

header {
    width: 80%;
    z-index: 1;
    display: flex;
    position: fixed;
    max-width: 100em;
    margin-top: 1.5em;
    align-self: center;
    border-radius: 50px;
    flex-direction: row;
    padding: 0.2em 0.5em;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--colors-background-secondary);
}

.header-container-logo {
    width: 12em;
    display: flex;
    margin-left: 1em;
    align-self: center;
}

.header-logo {
    width: 100%;
    height: auto;
}

.header-type {
    left: 4%;
    bottom: -20%;
    display: flex;
    position: absolute;
    font-style: italic;
    border-radius: 20px;
    padding: 0.3em 0.8em;
    color: var(--colors-primary);
    font-size: var(--fonts-size-small);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--colors-background-secondary);
}

.header-options {
    gap: 2.5em;
    display: flex;
    margin-left: auto;
    margin-right: 3em;
    align-self: center;
    flex-direction: row;
}

.header-option {
    text-decoration: none;
    font-size: var(--fonts-size-small);
    color: var(--colors-color-secondary);
}

.header-buttons {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
    margin-left: auto;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.header-buttons-with-options {
    margin-left: 0;
}

/* Buttons */

.button {
    width: 9em;
    display: flex;
    font-weight: bold;
    align-items: center;
    border-radius: 30px;
    flex-direction: row;
    padding: 0.6em 0.3em;
    text-decoration: none;
    justify-content: center;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-size: var(--fonts-size-description);
    background-color: var(--colors-primary);
    border: 2px solid var(--colors-primary);
}

.button:hover {
    transform: scale(1.05);
}

.button-outlined {
    width: 9em;
    display: flex;
    font-weight: bold;
    align-items: center;
    border-radius: 30px;
    flex-direction: row;
    padding: 0.6em 0.3em;
    text-decoration: none;
    justify-content: center;
    transition-duration: 0.2s;
    color: var(--colors-primary);
    transition-timing-function: linear;
    font-size: var(--fonts-size-description);
    border: 2px solid var(--colors-primary);
    background-color: var(--colors-background-secondary);
}

.button-outlined:hover {
    transform: scale(1.05);
}

.button-outlined-secondary {
    width: 9em;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    padding: 0.6em 0.5em;
    text-decoration: none;
    justify-content: center;
    transition-duration: 0.2s;
    color: var(--colors-color);
    transition-timing-function: linear;
    border: 2px solid var(--colors-color);
    font-size: var(--fonts-size-description);
}

.button-outlined-secondary:hover {
    transform: scale(1.05);
}

.icon-button {
    width: 12em !important;
    padding: 0.2em 0.2em !important;
    padding-left: 1em !important;
}

.button-icon-arrow {
    width: 2.5em;
    height: auto;
    padding: 0.5em;
    margin-left: auto;
    border-radius: 50%;
    background-color: var(--colors-color);
}

.button-icon-arrow-secondary {
    background-color: var(--colors-primary);
}

.button-icon-alert {
    width: 2.5em;
    height: auto;
    padding: 0.2em;
    margin-left: auto;
    border-radius: 50%;
}

main {
    display: flex;
    min-height: 93.4vh;
}

body {
    display: flex;
}

/* Modal Vacancy */

.modal-vacancy {
    z-index: 1;
    width: 100%;
    height: 100dvh;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-vacancy.hidden {
    display: none;
    visibility: hidden;
}

.modal-vacancy-content {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 80%;
    padding: 2em;
    display: flex;
    max-width: 52em;
    margin: 2em auto;
    position: absolute;
    border-radius: 15px;
    height: max-content;
    background-image: linear-gradient(
        to bottom,
        /* Top */
        var(--colors-gradient) 0%, 
        #ffffff 15%,
        /* Mid */
        #ffffff 15%, 
        #ffffff 85%,
        /* Bottom */
        #ffffff 85%, 
        var(--colors-gradient) 100%
    );
}

.modal-vacancy-profile {
    font-style: italic;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.moda-vacancy-education {
    margin: 0.4em 0;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.modal-vacancy-field {
    display: flex;
    margin-top: 1.5em;
}

.modal-vacancy-field-title {
    font-weight: 900;
    font-size: var(--fonts-size-small);
    color: var(--colors-color-secondary);
}

.modal-vacancy-field-text {
    font-size: var(--fonts-size-small);
    color: var(--colors-color-secondary);
}

.modal-vacancy-footer {
    gap: 2em;
    display: flex;
    margin-top: 5em;
    align-items: center;
}

.modal-vacancy-button {
    width: 14em;
}

.modal-vacancy-back {
    border: none;
    cursor: pointer;
    font-weight: 900;
    background: transparent;
    color: var(--colors-primary);
    font-size: var(--fonts-size-description);
}

.modal-vacancy-pcd-icon {
    top: 5em;
    width: 4em;
    right: 3em;
    height: auto;
    position: absolute;
}

.modal-vacancy-report {
    top: 17em;
    right: 3em;
    height: auto;
    position: absolute;
    width: 10em !important;
    border-color: var(--colors-primary);
}

.modal-vacancy-report>.button-text {
    color: var(--colors-primary);
}

/* Plans */

.plans {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../../public/img/background-desktop.jpg');
}

.plans-subtitle {
    margin-top: 4em;
    font-weight: bold;
    text-align: center;
    font-size: var(--fonts-size-small);
}

.plans-title {
    text-align: center;
    font-size: var(--fonts-size-title);
}

.plans-container-table {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin-bottom: 2em;
    align-items: center;
}

.plans-table {
    width: 80%;
    min-width: 60em;
    margin-top: 2em;
    overflow: hidden;
    border-radius: 20px;
    border-collapse: collapse;
}

.plans-table th {
    padding: 0.5em;
    font-size: var(--fonts-size-subtitle);
    background-color: var(--colors-primary);
}

.plans-table th:last-child {
    border-radius: 0px 10px 0px 0px;
}

.plans-table th:nth-child(3) {
    background-color: #FF6100;
}

.plans-table th:nth-child(4) {
    background-color: #7C7C7C;
}

.plans-table th:nth-child(5) {
    background-color: #000000;
}

.plans-table td {
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
    border: 2px solid var(--colors-background);
    background-color: var(--colors-background-secondary);
}

.plans-table td:first-child {
    text-align: start;
}

tr:nth-child(2)>td:not(:first-child) {
    vertical-align: top;
}

.plans-type {
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
    width: fit-content;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

td:nth-child(3)>.plans-type {
    color: #FF6100;
}

td:nth-child(4)>.plans-type {
    color: #7C7C7C;
}

td:nth-child(5)>.plans-type {
    color: #000000;
}

.plans-sub-price {
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.plans-price {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    font-size: var(--fonts-size-title);
}

td:nth-child(2)>.plans-price {
    color: var(--colors-primary);   
}

td:nth-child(3)>.plans-price {
    color: #FF6100;
}

td:nth-child(4)>.plans-price {
    color: #7C7C7C;
}

td:nth-child(5)>.plans-price {
    color: #000000;
}

.plans-rules {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 1em;
    font-size: var(--fonts-size-description);
}

td:nth-child(3)>.plans-rules {
    color: #FF6100;   
}

td:nth-child(4)>.plans-rules {
    color: #7C7C7C;   
}

td:nth-child(5)>.plans-rules {
    color: #000000;   
}

.plans-about {
    color: var(--colors-color-secondary);
}

.plans-not {
    color: red !important;
}

.plans-medium {
    color: blue !important;
}

.plans-good {
    color: green !important;
}

.plans-button {
    width: 10em;
    border: none;
    display: flex;
    padding: 0.8em;
    cursor: pointer;
    margin: 2em auto;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    background-color: var(--colors-primary);
    font-size: calc(var(--fonts-size-description) + 0.2em);
}

.plans-button:hover {
    transform: scale(1.05);
}

td:nth-child(3)>.plans-button {
    background-color: #FF6100;
}

td:nth-child(4)>.plans-button {
    background-color: #7C7C7C;
}

td:nth-child(5)>.plans-button {
    background-color: #000000;
}

.plans-obs {
    margin-bottom: 1em;
    color: var(--colors-color-secondary);
}

/* Footer */

footer {
    width: 100%;
    padding: 1em;
    display: flex;
    margin-top: 2em;
    align-self: center;
    background-image: linear-gradient(var(--colors-background), var(--colors-gradient));
}

.footer-secondary {
    background: none;
    background-image: linear-gradient(transparent, var(--colors-gradient));
}

.footer-content {
    width: 80%;
    display: flex;
    max-width: 100em;
    align-self: center;
    position: relative;
    padding: 1.5em 3em;
    flex-direction: row;
    border-radius: 15px;
    flex-direction: row;
    background-color: var(--colors-primary);
}

.footer-content-secondary {
    background-color: var(--colors-background-secondary);
}

.social {
    gap: 1em;
    right: 2em;
    display: flex;
    position: absolute;
    flex-direction: row;
}

.social-icon-container {
    width: 2.3em;
    height: 2.3em;
    display: flex;
    padding: 0.5em;
    border-radius: 20px;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: var(--colors-background);
}

.social-icon-container-secondary {
    background-color: var(--colors-primary);
}

.social-icon-container:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 100%;
    height: 100%;
}

.footer-texts {
    gap: 1em;
    flex: 0.8;
    display: flex;
    align-self: center;
}

.footer-text {
    font-weight: 100;
    font-size: var(--fonts-size-description);
}

.footer-text-secondary {
    color: var(--colors-color-secondary);
}

.footer-text-highlighted {
    font-weight: 900;
    font-size: calc(var(--fonts-size-description) + 0.27em);
}

.footer-text-highlighted-secondary {
    color: var(--colors-color-secondary);
}

.download {
    gap: 1em;
    display: flex;
    margin-top: 5em;
    margin-left: auto;
    align-self: flex-end;
}

.download-title {
    font-weight: 900;
    font-size: var(--fonts-size-subtitle);
}

.download-title-secondary {
    color: var(--colors-color-secondary);
}

.download-buttons {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.download-button {
    gap: 1em;
    height: 3em;
    width: 12.5em;
    display: flex;
    padding: 1.5em;
    position: relative;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-size: var(--fonts-size-description);
    background-color: var(--colors-background-secondary);
}

.download-button:hover {
    transform: scale(1.1);
}

.download-button-secondary {
    border: 2px solid var(--colors-primary);
}

.download-image {
    left: 0.3em;
    width: 2.5em;
    height: auto;
    position: absolute;
    border-radius: 50%;
}

.borderless-download-image {
    width: 2em;
    left: 1.3em;
    border-radius: 0%;
}

.download-text {
    margin-left: 3em;
    font-weight: 900;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.footer-address {
    display: flex;
    margin: 0.5em 0;
    align-items: center;
    font-size: var(--fonts-size-description);
}

.footer-address-text {
    font-size: 1em;
    text-align: center;
    color: var(--colors-color-secondary);
}

@media screen and (max-width: 900px) {
    :root {
        --fonts-size-title: 2.5em;
        --fonts-size-small: 0.58em;
        --fonts-size-subtitle: 1.5em;
        --fonts-size-main-title: 1.7em;
        --fonts-size-description: 0.8em;
    }

    /* Header */

    header {
        width: 90%;
        margin-top: 0.8em;
    }

    .header-container-logo {
        width: 7em;
        margin-left: 0;
    }

    .header-type {
        left: 7%;
        bottom: -10%;
    }

    .header-buttons {
        gap: 0.8em;
        margin-right: 0.5em;
    }

    /* Buttons */
    
    .button, .button-outlined {
        width: 7.5em;
        padding: auto;
    }

    .social {
        right: 1em;
        gap: 0.5em;
    }

    .social-icon-container {
        width: 1em;
        height: 1em;
        padding: 0.2em;
    }

    /* Modal Vacancy */

    .modal-vacancy-content {
        padding: 1em;
    }

    .modal-vacancy-profile, .moda-vacancy-education  {
        font-size: calc(var(--fonts-size-description) + 0.1em);
    }

    .modal-vacancy-field {
        margin-top: 0.5em;
    }

    .modal-vacancy-field-title {
        font-size: calc(var(--fonts-size-description) + 0.1em);
    }

    .modal-vacancy-field-text {
        font-size: var(--fonts-size-description);
    }
    
    .modal-vacancy-footer {
        gap: 1em;
        margin: 1.5em 0;
    }

    .modal-vacancy-button {
        width: 12em;
    }
    
    .modal-vacancy-pcd-icon {
        top: 2em;
        right: 1em;
        width: 2.5em;
    }

    .modal-vacancy-report {
        top: 8em;
        right: 1em;
        width: 7em !important;
    }

    .modal-vacancy-report>.button-text {
        font-size: var(--fonts-size-description);
    }

    .button-icon-alert {
        width: 1.5em;
    }

    /* Plans */

    .plans-subtitle {
        font-size: var(--fonts-size-description);
    }

    .plans-title {
        font-size: var(--fonts-size-main-title);
    }

    .plans-container-table {
        align-items: flex-start !important;
    }

    /* Footer */

    footer {
        padding: 0 1em;
        margin-top: 0em;
    }

    .footer-content {
        width: 98%;
        padding: 1em;
        flex-direction: column;
    }

    .footer-texts {
        flex: 1;
        margin-top: 1em;
    }
    
    .download {
        gap: 0.5em;
        margin-left: 0;
        margin-top: 1em;
        align-self: flex-start;
    }

    .download-title {
        font-size: var(--fonts-size-description);
    }

    .download-buttons {
        flex-direction: row;
    }

    .download-button {
        height: 2em;
        width: 8.5em;
        padding: 0.5em;
    }

    .download-image {
        left: 0.2em;
        width: 1.5em;
    }

    .borderless-download-image {
        width: 1em;
        left: 0.8em;
    }

    .download-text {
        margin-left: 2.8em;
    }

    .footer-address, .footer-address-text {
        font-size: calc(var(--fonts-size-description) - 0.1em);
    }
}