@import url(global/index.css);

body {
    background: var(--colors-background);
}

.initial {
    height: 45em;
    display: flex;
    position: relative;
    flex-direction: row;
}

.initial-image {
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
}

.initial-image.mobile {
    display: none;
    visibility: hidden;
}

.initial-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0 1em;
    max-width: 100em;
    margin-top: 12em;
    flex-direction: row;
    justify-content: space-between;
}

.initial-content {
    width: 40vw;
    display: flex;
}

.initial-title {
    line-height: 1em;
    font-size: var(--fonts-size-main-title);
}

.initial-description {
    margin-top: 1em;
    line-height: 1.5em;
    font-size: var(--fonts-size-subtitle);
}

.initial-button {
    margin-top: 3.5em;
}

.initial-button-text {
    margin: auto;
}

.options {
    gap: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.option {
    width: 160%;
    display: flex;
    max-width: 24em;
    padding: 3em 1em;
    position: relative;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: var(--colors-background-secondary);
}

.option:hover {
    transform: scale(1.05);
}

.option-title {
    font-weight: bold;
    text-align: center;
    font-size: var(--fonts-size-title);
    color: var(--colors-color-secondary);
}

.option-subtitle {
    text-align: center;
    font-size: var(--fonts-size-subtitle);
    color: var(--colors-color-secondary);
}

.option-icon {
    bottom: -15%;
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
    position: absolute;
    border-radius: 50%;
    border: 4px solid var(--colors-color);
    background-color: var(--colors-primary);
}

.vacancies {
    display: flex;
    padding-top: 4em;
    margin-bottom: 2em;
    align-items: center;
    background-color: var(--colors-background);
}

.vacancies-subtitle {
    display: flex;
    font-weight: 900;
    color: var(--colors-primary);
    font-size: var(--fonts-size-subtitle);
}

.vacancies-title {
    display: flex;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-main-title);
}

.vacancies-list {
    gap: 2.5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    flex-direction: row;
    justify-content: center;
}

.vacancy {
    width: 90%;
    display: flex;
    padding: 1.8em;
    max-width: 23.5em;
    align-self: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--colors-background-secondary);
}

.vacancy-header {
    gap: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.vacancy-header-login {
    padding: 0.5em;
    max-width: 20em;
    border-radius: 10px;
    background-color: var(--colors-background);
}

.vacancy-image {
    width: 3.7em;
    height: auto;
    border-radius: 50%;
}

.vacancy-icon {
    width: 3.7em;
    height: auto;
    padding: 0.3em;
    border-radius: 50%;
    background-color: var(--colors-background-tertiary);
}

.vacancy-company {
    display: flex;
}

.vacancy-company-name {
    font-weight: 900;
    font-size: var(--fonts-size-subtitle);
    color: var(--colors-color-secondary);
}

.vacancy-location {
    font-weight: 900;
    color: var(--colors-color-secondary);
    font-size: calc(var(--fonts-size-subtitle) - 0.4em);
}

.vacancy-total-candidates {
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.vacancy-total-candidates-highlighted {
    font-weight: 900;
    color: var(--colors-color-secondary);
}

.vacancy-payment {
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.vacancy-payment-highlighted {
    font-weight: 900;
    color: var(--colors-color-secondary);
}

.vacancy-text-login {
    line-height: 1em;
    font-weight: 900;
    font-size: var(--fonts-size-subtitle);
    color: var(--colors-background-tertiary);
}

.vacancy-content {
    display: flex;
    margin-top: 1em;
}

.vacancy-title {
    font-weight: 900;
    font-size: var(--fonts-size-subtitle);
    color: var(--colors-color-secondary);
}

.vacancy-profile {
    font-style: italic;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.vacancy-education {
    margin: 0.4em 0;
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.vacancy-education-highlighted {
    font-weight: 900;
    color: var(--colors-color-secondary);
}

.vacancy-description {
    color: var(--colors-color-secondary);
    font-size: var(--fonts-size-description);
}

.vacancy-button {
    width: 11em;
    cursor: pointer;
    margin-top: 1em;
    align-self: center;
}

.vacancy-pcd-icon {
    left: 1.5em;
    width: 3.2em;
    height: auto;
    bottom: 1.5em;
    position: absolute;
}

.vacancies-button {
    margin-top: 2.5em;
}

.vacancies-button-text{
    margin: auto;
}

@media screen and (max-width: 900px) {
    .initial {
        height: 25em;
    }
    
    .initial-image.desktop {
        display: none;
        visibility: hidden;
    }

    .initial-image.mobile {
        display: flex;
        visibility: visible;
    }

    .initial-container {
        width: 90%;
        padding: 0;
        margin-top: 6em;
    }

    .initial-content {
        width: 50%;
    }

    .initial-description {
        line-height: 1.2em;
        font-size: var(--fonts-size-description);
    }

    .initial-button {
        margin-top: 2em;
    }

    .options {
        padding: 0;
    }

    .option {
        width: 120%;
        padding: 1.8em 1em;
    }

    .option-title, .option-subtitle {
        font-size: var(--fonts-size-description);
    }

    .option-icon {
        width: 2.5em;
        height: 2.5em;
    }

    .vacancies {
        padding-top: 2em;
    }

    .vacancies-subtitle {
        font-size: var(--fonts-size-description);
    }

    .vacancies-list {
        margin-top: 2em;
    }

    .vacancy {
        padding: 0.8em;
    }
    
    .vacancy-header {
        width: 80%;
    }
    
    .vacancy-company-name, .vacancy-location {
        font-size: calc(var(--fonts-size-description) + 0.2em);
    }
    
    .vacancy-image, .vacancy-icon {
        width: 2.8em;
    }

    .vacancy-text-login {
        width: 90%;
        font-size: var(--fonts-size-description);
    }

    .vacancy-title {
        font-size: calc(var(--fonts-size-description) + 0.3em);
    }

    .vacancy-button {
        width: 9em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .vacancy-pcd-icon {
        left: auto;
        top: 1.8em;
        width: 2em;
        right: 1em;
        height: auto;
        bottom: 1.5em;
    }
}