@import url(global.css);

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../public/img/background-mobile.jpg');
}

#form {
    width: 60%;
    display: flex;
    max-width: 45em;
    margin-top: 10em;
    padding: 2em 4em;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 1.5em;
    border: 1px solid var(--colors-background-secondary);
}

.title-form {
    align-self: center;
    font-size: calc(var(--fonts-size-title));
}

.types {
    gap: 0.5em;
    display: flex;
    margin-top: 1em;
}

.types-type {
    gap: 1em;
    display: flex;
    flex-direction: row;
    font-size: var(--fonts-size-small);
}

.fields {
    gap: 1em;
    display: flex;
    margin-top: 2em;
}

.fields-field, .fields-container-field {
    width: 100%;
    height: 8vh;
    border: none;
    align-self: center;
    padding: 1em 1.2em;
    border-radius: 30px;
    background-color: transparent;
    font-size: var(--fonts-size-small);
    border: 1px solid var(--colors-background-secondary);
}

.fields-field::placeholder, .fields-field-input::placeholder {
    color: var(--colors-background-secondary);
}

.fields-field:focus, .fields-field-input:focus {
    outline: none;
}

.fields-container-field {
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
}

.fields-field-input {
    width: 80%;
    border: none;
    padding: 0.7em 0.9em;
    background-color: transparent;
    font-size: var(--fonts-size-small);
}

.button-visibility {
    top: 25%;
    right: 3%;
    width: 2em;
    border: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}

.button-visibility-icon {
    width: 100%;
    height: auto;
}

.button-visibility-icon-hidden {
    display: none;
}

.form-remember {
    gap: 0.5em;
    display: flex;
    margin-top: 1em;
    flex-direction: row;
}

.form-remember-input {
    width: 1.5em;
}

.form-remember-label {
    font-size: var(--fonts-size-small);
}

.form-button {
    width: 100%;
    padding: 1em;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 50px;
    margin-bottom: 1.5em;
    font-size: var(--fonts-size-subtitle);
}

.form-text {
    align-self: center;
    margin-bottom: 0.2em;
    font-size: var(--fonts-size-small);
}

.form-link {
    font-weight: 900;
    align-self: center;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    #form {
        padding: 2em;
        margin-top: 6em;
    }

    .title-form {
        margin-top: 0;
        font-size: var(--fonts-size-subtitle);
    }

    .types {
        margin-top: 1.5em;
    }

    .fields {
        gap: 1em;
        margin-top: 1em;
    }

    .fields-field, .fields-container-field {
        height: 7vh;
        padding: 0.6em 0.8em;
        font-size: var(--fonts-size-description);
    }

    .fields-container-field {
        padding: 0;
    }

    .fields-field-input {
        padding: 0.6em 0.8em;
        font-size: var(--fonts-size-description);
    }

    .form-remember {
        gap: 0.2em;
        margin-top: 2em;
    }

    .form-button {
        font-size: var(--fonts-size-description);
    }

    .form-text {
        font-size: var(--fonts-size-description);
    }
}